In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import random

In [2]:
x = random.sample(range(-10,11),20)
x = np.array(x)
x = np.sort(x)

In [5]:
y = np.power(x,3)
y

array([-1000,  -729,  -512,  -343,  -216,  -125,   -64,   -27,    -8,
          -1,     0,     1,    27,    64,   125,   216,   343,   512,
         729,  1000], dtype=int32)

In [6]:
df = pd.DataFrame({'x':x, 'y':y})
df.head()

    x     y
0 -10 -1000
1  -9  -729
2  -8  -512
3  -7  -343
4  -6  -216

In [7]:
df.to_csv(r'Cube.csv', index=False)